# Nixpacks configuration for Next.js application

[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx convex deploy", "npm run build"]

[start]
cmd = "npm run start"
